body{
    background-color: black !important;
}
.div1{
    width: 250px;
    height: 250px;
    /* background-color: blue; */
    margin: 0 auto;
    text-align: center;
    padding-top: 90px;
    border: 8px solid skyblue;
    
}

.divmain{
    /* margin: ; */
}

.para{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    display: inline-block;
    /* float: left; */
    /* display: flex; */
    justify-content: space-evenly;
}

i{
    font-size: 3em !important;
    color: skyblue;
}


ul{
    padding: 5px;
}
li{
    display: inline-block !important;
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
    margin: 0 auto;
}

.paraicon{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}